body {
	background-color: pink;
	font-family: monospace;
	text-align: center;
}

.site-container {
	max-width: 1100px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.site-title {
	margin-top: 40vh;
}
